---
import modelos from '../../modelos.json';

const categoriasUnicas = [...new Set(modelos.map((modelo) => modelo.categoria))];

// Objeto que mapea las categorías con las imágenes correspondientes
const imagenesCategorias = {
  hombres: '/assets/categoria-fotos/hombre.jpg',
  mujeres: '/assets/categoria-fotos/mujer.jpg',
  influencer: '/assets/categoria-fotos/influencer.jpg',
};
---

<section class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <h1 class="mb-16 text-3xl font-medium tracking-tight sm:text-4xl">
    Modelos
    <div class="h-1 w-20 rounded bg-pink"></div>
  </h1>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
    {
      categoriasUnicas.map((categoria) => (
        <div class="rounded-lg p-4" key={categoria}>
          <a href={`/modelos/${categoria}`} class="block">
            <img
              src={imagenesCategorias[categoria]}
              alt={categoria}
              class="mb-2 h-48 w-full rounded-lg object-cover"
            />
            <h2 class="text-gray-900   font-semibold capitalize ">{categoria}</h2>
          </a>
        </div>
      ))
    }
  </div>
</section>
