---
import eventos from '../../eventos.json'; // Asegúrate de tener el archivo eventos.json en la ubicación correcta
---

<section class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <h2 class="mb-16 text-3xl font-medium tracking-tight sm:text-4xl">
    Últimos Eventos<div class="h-1 w-20 rounded bg-pink"></div>
  </h2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
    {
      eventos
        .slice()
        .reverse()
        .slice(0, 3)
        .map((evento) => (
          <div class="rounded-lg  p-4">
            <a href={`/evento/${evento.id}`} class="block">
              <img
                src={evento.imagen}
                alt={evento.nombre}
                class="mb-2 h-48 w-full rounded-lg object-cover"
              />
              <h2 class="text-gray-900 text-3xl font-semibold">{evento.nombre}</h2>
              <div class="mb-4 mt-2 h-1 w-10 rounded bg-pink" />
              <p class="text-gray-600">{evento.descripcion}</p>
            </a>
          </div>
        ))
    }
  </div>
</section>
